.weather {
    background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    margin:10px;
    padding: 8px;
    border-color: 1px, solid, #101011 !important;
    color: rgb(110, 107, 107)
}
.weather h1{
    padding: 10px;
}

.weather ul{
    list-style-type: none;
}

.description {
    padding: 9px;
}

.temparature{
    position: relative;
    top: 15px;
    left:20px;
    padding: 10px;
    font-size: 40px;
    font-weight: 500;
}
.units {
    position: relative;
    bottom: 4px;
    left:20px;
}
.button {
    border-color: #ecaeb4 !important;
    background-color: #ecaeb4 !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
}